
/* import all css file */
@import url(font.css);
@import url(utilities.css);

*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
}
input{
    border: none !important;
    font-size: 1rem;
}
input:focus{
    border: none !important;
    box-shadow: none !important;
}

button{
    border: none !important;
}
body{
    font-family: "urbanist", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    color: #020010 !important;
}
/* navigation */
.main-menu{
    width: 100%;
    height: 60px;
}

.navigation .bi{
    font-size: 20px;
    margin-bottom: -4px;
}

.navigation span{
    font-size: 13px;
}

.navigation.active{
    color: #48CEFF !important;
}

/* header */
header{
    height: 60px;
    padding: 8px 0;
}
.logo{
    width: 60px;
    height: 30px;
}
.profile{
    width: 30px;
    height: 30px;
}
header + .section {
    margin-top: 3rem;
  }

div:last-of-type .section{
    margin-bottom: 70px;
}
/* login Form */
.form-login{
    padding: 80px 0px !important;
}
.img-log{
    width: 175px;
    height: 175px;
}

/*  */
.box{
    width: 106px;
    height: 45px;
}
.bt-badge{
    height: 32px;
    padding: 6px 8px;
}

.search{
    height: 50px;
}

.user-img{
    height: 50px;
    width: 50px;
}

.profile-box{
    border-radius: 2.5rem;
    padding: 3rem 0 3rem 0 ;
}
.section-link{
    padding: 1rem 0 1rem 0 ;
    margin-bottom: 60px;
}
.user-p{
    width: 100px;
    height: 100px;
}
/* table */


/* .accorddion {
    border: 4px solid #fff;
    background: linear-gradient(to right, #f6f9fd, #ffffff);
  }
  .accord-item {
    animation: testim-show 0.5s ease-in-out forwards;
  } */
  .accordion-item {
    animation: testim-show 0.5s ease-in-out forwards;
  }

  .accordion--item {
    animation: testim-show 0.5s ease-in-out forwards;
  }
  
  .hide {
    display: none;
    animation: testim-out 0.5s ease-in-out forwards;
  }
